body {
  background: #333;
  color: #999;
}

@mixin vendor-prefix($property, $arguments...) {
  -webkit-#{$property}: $arguments;
  -moz-#{$property}:    $arguments;
  -ms-#{$property}:     $arguments;
  -o-#{$property}:      $arguments;
  #{$property}:         $arguments;
}

.animation {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}

.animation-1s {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        transition: all 1.5s ease-out;
}

/* clearfixes are oldschool */
.line:before,.line:after{height:0; line-height:0; overflow:hidden;content:"";display:table;}
.line:after{clear:both;}
.line{*zoom:1;}

#host.client .host-show {
  display: none;
}

.clear{
  clear: both;
}

.overflowable{
  overflow: visible!important;
}

.float-gutter{
  padding-right: 15px;
  padding-left: 15px;
}


.valign-wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.valign{
  display: table-cell;
  vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'epsilon-icofonts';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m:before {
  content: "\e601";
}
.icon-p:before {
  content: "\e600";
}
.icon-a:before {
  content: "\e602";
}

a.button{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.75em;
  border: 1px solid;
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
  line-height: 1em;

  &.dark{
    color: #fff;
    border-color: #222;
    &:hover{
      background: #222;
    }
  }

  &.large{
    padding: 0.8em;
    font-size: 1.2em;
  }

  &.inverted{
    border-color: #fff;
    color: #fff;

    &.grey{
      border-color: $grey;
      color: $grey;
    }

    &.orange{
      border-color: $orange-accent;
      color: $orange-accent;
    }

    &:hover{
      text-decoration: none;
      background: rgba(255,255,255,0.15);
      color: #fff;
    }

  }

  i {
    position: absolute;
    font-size: 1.5em;
    right: 0;
    bottom: 0.25em;
  }

  &.download, &.link{
    padding-right: 3.5em;
  }

  &.link{
    i{
      bottom: 0.35em;
    }
  }

}

footer{
  background: #555;

  .logo{
    padding: 1em 0
  }

  .social-bar{
    padding: 0.5em 0;
    text-align: center;
    font-size: 2em;
    background: #000;

    a{
      color: #999;
      margin: 0 0.5em;
      &:hover{
        color: #fff;
      }
    }

  }

  nav{
    padding-top: 2em;
    text-align: center;
    .button{
      @extend .animation;
      width: 10em;
      border: 1px solid $grey;
      color: $grey;
      margin: 0 1em;
      text-transform: none;
      padding: 0.8em;
      font-weight: 300;

      &:hover{
        color: #fff;
        border-color: #fff;
        text-decoration: none;
      }

      &.active{
        color: #fff;
        background: #444;
        border-color: #444;

        &:hover{
          background: #333;
        }
      }

    }
  }

  .trademark{
    padding: 3em 0;
    text-align: center;
    span{
      &.white, a{
        color: #fff;
      }
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

.compatibility{
  font-size: 0.7em;
  font-weight: 300;
  margin-top: 1em;
  color: #fff;

  .platform{
    opacity: 0.6;
  }
}

@media (max-width: 767px) {
  .float-gutter{
    padding: 0;
  }
}
