
      <footer>
        <div class="social-bar">
          <a href=""><i class="fa fa-facebook-square"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-google-plus"></i></a>
        </div>
        <nav class="switcher">
          <a href="/jukebox" id="jukebox-footer-nav" class="button large">Epsilon Jukebox</a>
          <a href="/play" id="play-footer-nav" class="button large">Epsilon Play</a>
        </nav>


        <div class="trademark">

          <svg class="logo" version="1.1"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
             x="0px" y="0px" width="28px" height="36.6px" viewBox="0 0 28 36.6" enable-background="new 0 0 28 36.6" xml:space="preserve">
          <defs>
          </defs>
          <g>
            <g>
              <path fill="#FFFFFF" d="M14.4,24.4c-0.8,0-1.4-0.6-1.4-1.4s0.6-1.4,1.4-1.4c4.5,0,8.2-3.7,8.2-8.2c0-5.9-4.8-10.6-10.6-10.6
                c-3.6,0-7.1,1.4-9.6,4c-0.5,0.5-1.4,0.5-2,0c-0.5-0.5-0.5-1.4,0-2C3.5,1.7,7.6,0,12,0c7.4,0,13.4,6,13.4,13.4
                C25.5,19.5,20.5,24.4,14.4,24.4z"/>
              <path fill="#FFFFFF" d="M15.8,36.6c-5.9,0-11.5-2.6-15.4-7.1c-0.5-0.6-0.4-1.5,0.2-2c0.6-0.5,1.5-0.4,2,0.2
                c3.3,3.9,8.1,6.1,13.3,6.1c3.6,0,7-0.8,10.2-2.5c0.7-0.4,1.5-0.1,1.9,0.6c0.4,0.7,0.1,1.5-0.6,1.9C23.7,35.7,19.8,36.6,15.8,36.6z
                "/>
            </g>
            <path fill="#FFFFFF" d="M15.4,29.8c-5.4,0-9.8-4.4-9.8-9.8c0-4.5,3.6-8.1,8.1-8.1c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4
              c-2.9,0-5.3,2.4-5.3,5.3c0,3.8,3.1,7,7,7c0.8,0,1.4,0.6,1.4,1.4C16.8,29.1,16.2,29.8,15.4,29.8z"/>
          </g>
          </svg>

          <br>

          <span class="white">&copy; 2014 epsilon music</span>
          <br>
          <span>Handcrafted by the folks at <a href="http://www.ideahack.com">Ideahack Creative, Inc.</a></span>

        </div>


      </footer>

    <script type="text/javascript" src="js/page.js"></script>
  </body>
</html>
