<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.9" />

    <title>ε (epsilon)</title>

    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body id="<%= bodyId %>">
