<%- include header.ejs %>

<section class="hero">
  <%- include nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 demo-wrapper">
        <img class="demo unentered" src="img/jb-demo.png">
      </div>
      <div class="col-sm-4">
        <div class="hero-content">
          <h1>Epsilon Jukebox</h1>
          <hr>
          <p>Your online music playlist<br>Socialized.</p>
        </div>
      </div>
    </div>
  </div>

</section>

<%- include footer.ejs %>
