<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.9" />

    <title>ε (epsilon)</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/epsilon.css" media="screen" />

    <script type="text/javascript" src="js/page.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
