<div id="global-header" class="container">
  <div class="row">
    <div class="col-sm-8">
      <div id="logo"><img src="/img/logo.png"></div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <nav class="float-gutter" data-active="<%=navActive %>">
          <ul>
            <li id="jukebox-nav"><a href="/jukebox">Jukebox</a></li>
            <li id="play-nav"><a href="/play">Play</a></li>
            <li class="outline"><a href="#">register</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
