
#global-header{
  padding: 2rem 0;
  overflow: hidden;
}

#logo>img{
  width: 2rem;
}

nav{
  padding: 0.5rem 0;
  text-align: right;
}

nav>ul>li{
  display: inline-block;
  padding: 0.3em 0;
  margin: 0 0.3em 0 2.3em;


  a, a:hover{
    color: $nav;
    font-weight: 300;
    font-size: 0.8rem;
    border: none;
    text-decoration: none;
  }

  &.active, &:hover{
    border-bottom: 1px solid #fff;
  }

  &.outline{
    margin: 0;
    margin-left: 2em;
    padding: 0.3em;
    border: 1px solid #fff;

    a{
      font-weight: 500;
    }

    &:hover{
      background: rgba(255,255,255,0.25);
    }

  }

}


section.hero {

  overflow: hidden;

  .hero-content{
    float: right;
    color: $nav;
    margin-top: 2em;
  }

  h1{
    font-size: 2rem;
    font-weight: 100;
  }

  hr{
    border: 1px solid rgba(255,255,255,0.25);
  }

  p{
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
  }

  #jukebox &{
  background: #29a5dc; /* Old browsers */
  background: -moz-linear-gradient(top,  #29a5dc 0%, #0071b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29a5dc), color-stop(100%,#0071b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #29a5dc 0%,#0071b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #29a5dc 0%,#0071b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #29a5dc 0%,#0071b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #29a5dc 0%,#0071b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a5dc', endColorstr='#0071b6',GradientType=0 ); /* IE6-9 */
  }

  #play &{

  }

  .demo-wrapper{
    overflow: hidden;
    padding-top: 3em;
  }


  .demo.unentered{
    -ms-transform: translate(0,300px); /* IE 9 */
    -webkit-transform: translate(0,300px); /* Chrome, Safari, Opera */
    transform: translate(0,-100px);
    opacity: 0;
  }

  .demo{
    max-width: 100%;
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.30);
    @extend .animation-1s;
  }

}

/*responsive*/

@media (max-width: 767px) {
  #logo, .demo-wrapper, nav{
     text-align: center;
  }

  nav>ul>li{
    margin: 1em;

    &.outline{
      margin: 1em;
    }
  }

  #logo {
    padding-bottom: 1em;
  }

  .demo-wrapper{
    float: right;
  }

  .hero-content {
    position: absolute;
  }
}

